{% extends "layouts/base.html" %}

{% block title %} Patient Details {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
.breadcrumb {
    float: right;
}
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <ul class="breadcrumb text-end">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Patient Details</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include 'includes/message.html' %}
                    <div class="card">
                        <div class="card-header text-white">
                            <h5>{{patient.first_name}} {{patient.last_name}}</h5>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="{{ url_for('patient_blueprint.patient_list') }}" class="btn btn-outline-primary"><span><i class="feather feather-corner-down-left"></i></span>Back</a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="first_name" class="form-label">First Name:</label>
                                    <p>{{ patient.first_name }}</p>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="last_name" class="form-label">Last Name:</label>
                                    <p>{{ patient.last_name }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="dob" class="form-label">Date of Birth:</label>
                                    <p>{{ patient.dob }}</p>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="gender" class="form-label">Gender:</label>
                                    <p>{{ patient.gender }}</p>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <label for="phone_number" class="form-label">Phone Number:</label>
                                    <p>{{ patient.phone_number }}</p>
                                </div>

                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <p>{{ patient.email }}</p>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <label for="emergency_contact_name" class="form-label">Emergency Contact Name:</label>
                                    <p>{{ patient.emergency_contact_name }}</p>
                                </div>

                                <div class="col-md-6">
                                    <label for="emergency_contact_phone" class="form-label">Emergency Contact Phone:</label>
                                    <p>{{ patient.emergency_contact_phone }}</p>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <label for="address" class="form-label">Address:</label>
                                    <p>{{ patient.address }}</p>
                                </div>

                                <div class="col-md-6">
                                    <label for="blood_type" class="form-label">Blood Type:</label>
                                    <p>{{ patient.blood_type }}</p>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="medical_history" class="form-label">Medical History:</label>
                                <p>{{ patient.medical_history }}</p>
                            </div>

                            <div class="mb-3">
                                <label for="allergies" class="form-label">Allergies:</label>
                                <p>{{ patient.allergies }}</p>
                            </div>

                            <div class="d-flex justify-content-center">
                                <a href="{{ url_for('patient_blueprint.patient_list') }}" class="btn btn-primary">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
