# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyd
*.db
*.sqlite3

# Virtual environment
.venv/
env/
*.env

# Flask
instance/
*.log

# PostgreSQL
*.sql
*.db
*.dump
*.backup

# IDE and text editor configurations
.vscode/
.idea/
*.swp
*~

# Jupyter Notebooks
.ipynb_checkpoints/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Environment variable files
.env

# Python distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# Coverage reports
.coverage
coverage.xml
*.coveragerc

# MyPy
.mypy_cache/

# Bandit
.bandit/

# Docker
docker-compose.override.yml
.docker/

# Static assets directories 
apps/static/assets/images/media/grad_cam/
apps/static/assets/images/media/retinal_images/
